// Colors
// Actual values are defined in variables.scss.
// This file serves as a template that are replaced by the database override at runtime.

$sidebar-text: #DEE2E6;
$sidebar-active: #5D8DA8;
$sidebar-background: #111827;
